<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Latitude - Longitude Convertor</mat-toolbar>

    <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" (change)="toggleNav(group.value)">
        <mat-button-toggle value="atol">Address to Lat Long</mat-button-toggle>
        <mat-button-toggle value="ltoa">Lat Long to Address</mat-button-toggle>
        
    </mat-button-toggle-group>
      
    
    <mat-nav-list *ngIf="otherValue">
      <form class="example-form">  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Address" value="Eg. UK">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getLatLongResults()">Search</button>
      </form>
     
    </mat-nav-list>

        
    <mat-nav-list *ngIf="myValue">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Latitude" value="Lat">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Longitude" value="Long"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Search</button>
      </form>
     
      </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
      
  <!--  <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
    </mat-toolbar>-->
  </mat-sidenav-content>
</mat-sidenav-container>
